.page {
	display: flex;
	flex-direction: column-reverse;
	/* flex-direction: row-reverse; */
	justify-content: flex-start;
	align-items: normal;
	flex-wrap: nowrap;
}

.content {
	flex-grow: 1;
}

.menu {
	flex-grow: 0;
}
